.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
